/* Dashboard.module.css */
.dashboard {
    padding: 20px;
}

.fileList {
    margin-top: 20px;
}

.searchInput {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}